# IDE files
.idea/
*.iml

# Gradle caches & builds
.gradle/
build/

# Top-level wrapper scripts
gradlew
gradlew.bat
gradle/wrapper/

# MacOS / system files
.DS_Store

# Keep /code wrapper files tracked
!code/gradlew
!code/gradlew.bat
!code/gradle/wrapper/gradle-wrapper.jar
!code/gradle/wrapper/gradle-wrapper.properties

# local/IDE jars
lib/*.jar
