/* Reset small inconsistencies */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;

    /* Center everything vertically + horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Main card container */
.container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #0056b3;
}

a {
    display: block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}


.subtitle {
    margin-bottom: 25px;
    color: #666;
    font-size: 15px;
    text-align: center;
}

.logout-btn {
    background: #dc3545;
}

.logout-btn:hover {
    background: #b02a37;
}
